In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('survey_results_public.csv')

In [3]:
languages = ['LanguageWorkedWith',
             'DatabaseWorkedWith',
             'DatabaseDesireNextYear',
             'PlatformWorkedWith',
             'PlatformDesireNextYear',
             'WebFrameWorkedWith',
             'WebFrameDesireNextYear'
            ]
languages_data = data[languages]
languages_data.head()

,LanguageWorkedWith,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear
0,HTML/CSS;Java;JavaScript;Python,SQLite,MySQL,MacOS;Windows,Android;Arduino;Windows,Django;Flask,Flask;jQuery
1,C++;HTML/CSS;Python,NaN,MySQL,Windows,Windows,Django,Django
2,HTML/CSS,PostgreSQL,PostgreSQL,NaN,NaN,NaN,Other(s):
3,C;C++;C#;Python;SQL,MySQL;SQLite,MySQL;SQLite,Linux;Windows,Linux;Windows,NaN,NaN
4,C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA,Couchbase;MongoDB;MySQL;Oracle;PostgreSQL;SQLite,Couchbase;Firebase;MongoDB;MySQL;Oracle;Postgr...,Android;Linux;MacOS;Slack;Windows,Android;Docker;Kubernetes;Linux;Slack,Django;Express;Flask;jQuery;React.js;Spring,Flask;jQuery;React.js;Spring

In [4]:
languages_data["language"] = languages_data["LanguageWorkedWith"] + ";" + languages_data["DatabaseWorkedWith"] + ";" + languages_data["DatabaseDesireNextYear"] + ";" + languages_data["PlatformWorkedWith"] + ";" + languages_data["PlatformDesireNextYear"] + ";" + languages_data["WebFrameWorkedWith"] + ";" + languages_data["WebFrameDesireNextYear"]

/Users/anmol/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [5]:
languages_data.head(30)

,LanguageWorkedWith,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,language
0,HTML/CSS;Java;JavaScript;Python,SQLite,MySQL,MacOS;Windows,Android;Arduino;Windows,Django;Flask,Flask;jQuery,HTML/CSS;Java;JavaScript;Python;SQLite;MySQL;M...
1,C++;HTML/CSS;Python,NaN,MySQL,Windows,Windows,Django,Django,NaN
2,HTML/CSS,PostgreSQL,PostgreSQL,NaN,NaN,NaN,Other(s):,NaN
3,C;C++;C#;Python;SQL,MySQL;SQLite,MySQL;SQLite,Linux;Windows,Linux;Windows,NaN,NaN,NaN
4,C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA,Couchbase;MongoDB;MySQL;Oracle;PostgreSQL;SQLite,Couchbase;Firebase;MongoDB;MySQL;Oracle;Postgr...,Android;Linux;MacOS;Slack;Windows,Android;Docker;Kubernetes;Linux;Slack,Django;Express;Flask;jQuery;React.js;Spring,Flask;jQuery;React.js;Spring,C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA;Co...
5,Java;R;SQL,MongoDB;PostgreSQL,PostgreSQL,Android;Google Cloud Platform;Linux;Windows,Android;Google Cloud Platform;Linux;Windows,NaN,NaN,NaN
6,HTML/CSS;JavaScript,NaN,NaN,MacOS;Windows,MacOS;Windows,React.js,React.js,NaN
7,Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...,Cassandra;Elasticsearch;MongoDB;MySQL;Oracle;R...,Cassandra;DynamoDB;Elasticsearch;Firebase;Mong...,AWS;Docker;Heroku;Linux;MacOS;Slack,Android;Arduino;AWS;Docker;Google Cloud Platfo...,Express;Flask;React.js;Spring,Django;Express;Flask;React.js;Vue.js,Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
8,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...,DynamoDB;PostgreSQL;SQLite,PostgreSQL;Redis;SQLite,AWS;Docker;Heroku;Linux;MacOS;Slack,AWS;Docker;Heroku;Linux;MacOS;Slack;Other(s):,Express;Ruby on Rails;Other(s):,Express;Ruby on Rails;Other(s):,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...
9,C#;Go;JavaScript;Python;R;SQL,Elasticsearch;MongoDB;Microsoft SQL Server;MyS...,Elasticsearch;MongoDB;Microsoft SQL Server,Linux;Windows,Android;Linux;Raspberry Pi;Windows,Angular/Angular.js;ASP.NET;Django;Express;Flas...,Angular/Angular.js;ASP.NET;Django;Express;Flas...,C#;Go;JavaScript;Python;R;SQL;Elasticsearch;Mo...
10,Other(s):,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Bash/Shell/PowerShell;HTML/CSS;Java;Python;R;SQL,MySQL;PostgreSQL;SQLite,Elasticsearch;MongoDB;MySQL;PostgreSQL,AWS;Docker;Google Cloud Platform;Linux;MacOS;S...,AWS;Linux;MacOS;Slack,NaN,NaN,NaN
12,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...,Couchbase;DynamoDB;Firebase;MySQL,Firebase;MySQL;Redis,Android;AWS;Docker;IBM Cloud or Watson;iOS;Lin...,Android;AWS;Docker;IBM Cloud or Watson;Linux;S...,Angular/Angular.js;ASP.NET;Express;jQuery;Vue.js,Express;Vue.js,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...
13,C++,NaN,NaN,Windows,Windows,NaN,NaN,NaN
14,Assembly;Bash/Shell/PowerShell;C;C++;HTML/CSS;...,MariaDB;MySQL;Oracle;SQLite,MariaDB;MongoDB;Microsoft SQL Server;MySQL;Ora...,Linux;Windows,Android;Google Cloud Platform;iOS;Linux;MacOS;...,NaN,Angular/Angular.js;ASP.NET;Django;Drupal;jQuer...,NaN
15,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;T...,MongoDB;Microsoft SQL Server;MySQL,Elasticsearch;MongoDB;Microsoft SQL Server;SQLite,NaN,AWS;Google Cloud Platform;Microsoft Azure,Angular/Angular.js;ASP.NET;jQuery,Angular/Angular.js;ASP.NET;React.js,NaN
16,Bash/Shell/PowerShell;HTML/CSS;JavaScript;Type...,MongoDB;PostgreSQL,Elasticsearch;Firebase;MongoDB;PostgreSQL,Arduino;Docker;Heroku;Raspberry Pi;WordPress,Docker,Angular/Angular.js;Express;Spring,Angular/Angular.js;Express;React.js;Spring;Vue.js,Bash/Shell/PowerShell;HTML/CSS;JavaScript;Type...
17,Python;R,MongoDB,MongoDB,NaN,NaN,NaN,NaN,NaN
18,C#;HTML/CSS;Java;JavaScript;SQL;TypeScript,DynamoDB;Firebase;Microsoft SQL Server;MySQL;S...,DynamoDB,Android;AWS;Microsoft Azure,AWS,Angular/Angular.js;ASP.NET;Express;jQuery;Reac...,Express;React.js,C#;HTML/CSS;Java;JavaScript;SQL;TypeScript;Dyn...
19,Bash/Shell/PowerShell;C#;HTML/CSS;Java;JavaScr...,Elasticsearch;MariaDB;MongoDB;Microsoft SQL Se...,Elasticsearch;MariaDB;MongoDB;Microsoft SQL Se...,Android;Docker;Windows;WordPress,Android;Docker;Windows,Angular/Angular.js;ASP.NET;jQuery,Angular/Angular.js;ASP.NET;jQuery,Bash/Shell/PowerShell;C#;HTML/CSS;Java;JavaScr...
20,Assembly;Bash/Shell/PowerShell;C;C++;Go;Java;J...,MariaDB;PostgreSQL,MariaDB,Arduino;Linux;MacOS;Raspberry Pi,Arduino;Docker;Linux;Raspberry Pi,Django;Flask;Other(s):,Other(s):,Assembly;Bash/Shell/PowerShell;C;C++;Go;Java;J...
21,Bash/Shell/PowerShell;C++;HTML/CSS;JavaScript;...,Elasticsearch;MySQL;Oracle;Redis,Elasticsearch;MySQL;Oracle;Redis,Docker;Linux;Raspberry Pi;Windows,Docker;Linux;Raspberry Pi;Windows,Angular/Angular.js;Ruby on Rails,Angular/Angular.js;Ruby on Rails,Bash/Shell/PowerShell;C++;HTML/CSS;JavaScript;...
22,Bash/Shell/PowerShell;HTML/CSS;JavaScript;Pyth...,Oracle;SQLite,Couchbase;DynamoDB;Elasticsearch;Firebase;Oracle,Docker;Google Cloud Platform,Docker;iOS;Slack,React.js;Ruby on Rails,Express;React.js;Ruby on Rails;Vue.js,Bash/Shell/PowerShell;HTML/CSS;JavaScript;Pyth...
23,HTML/CSS;JavaScript;PHP;TypeScript,Firebase;MongoDB;MySQL,NaN,AWS;WordPress,Android;Docker;Slack,Express;jQuery;React.js,Vue.js,NaN
24,HTML/CSS;JavaScript;PHP;SQL;TypeScript,MySQL,MySQL,Linux;Windows,Linux;Windows,Angular/Angular.js;jQuery;Laravel,Angular/Angular.js;jQuery;Laravel;React.js;Vue.js,HTML/CSS;JavaScript;PHP;SQL;TypeScript;MySQL;M...
25,Bash/Shell/PowerShell;C++;C#;HTML/CSS;JavaScri...,Microsoft SQL Server;MySQL;Redis;SQLite,Microsoft SQL Server;MySQL;Redis;SQLite,AWS;Docker;Linux;MacOS;Microsoft Azure;Windows...,Android;Docker;iOS;Linux;MacOS;Microsoft Azure...,Angular/Angular.js;ASP.NET;Drupal;Express;jQue...,Angular/Angular.js;ASP.NET,Bash/Shell/PowerShell;C++;C#;HTML/CSS;JavaScri...
26,C++;JavaScript;Python;Ruby;SQL;TypeScript,Firebase;MongoDB;Microsoft SQL Server;MySQL;Or...,Couchbase;Elasticsearch;MongoDB;MySQL;Oracle;P...,Docker;Heroku;Linux;Windows,Android;AWS;Docker;Google Cloud Platform;Herok...,Angular/Angular.js;Express;Ruby on Rails,Angular/Angular.js;Django;Express;Flask;React....,C++;JavaScript;Python;Ruby;SQL;TypeScript;Fire...
27,JavaScript;TypeScript,MariaDB;MongoDB,MariaDB;MongoDB,NaN,NaN,React.js;Vue.js,Vue.js,NaN
28,Bash/Shell/PowerShell;JavaScript;SQL,Firebase;MongoDB;MySQL,PostgreSQL;SQLite,NaN,Docker,Express;jQuery;React.js,Angular/Angular.js;React.js;Vue.js,NaN
29,NaN,NaN,NaN,AWS;Docker;Kubernetes;Linux;Windows,AWS;Docker;Google Cloud Platform;Kubernetes;Linux,NaN,NaN,NaN

In [6]:
%%time
data_count = languages_data.language.apply(lambda x: pd.Series(str(x).split(";")))
print(data_count)

                         0                      1           2           3    \
0                   HTML/CSS                   Java  JavaScript      Python
1                        nan                    NaN         NaN         NaN
2                        nan                    NaN         NaN         NaN
3                        nan                    NaN         NaN         NaN
4                        C++               HTML/CSS        Java  JavaScript
5                        nan                    NaN         NaN         NaN
6                        nan                    NaN         NaN         NaN
7      Bash/Shell/PowerShell                      C         C++    HTML/CSS
8      Bash/Shell/PowerShell                     C#    HTML/CSS  JavaScript
9                         C#                     Go  JavaScript      Python
10                       nan                    NaN         NaN         NaN
11                       nan                    NaN         NaN         NaN
12     Bash/Shell/PowerShell               HTML/CSS  JavaScript         PHP
13                       nan                    NaN         NaN         NaN
14                       nan                    NaN         NaN         NaN
15                       nan                    NaN         NaN         NaN
16     Bash/Shell/PowerShell               HTML/CSS  JavaScript  TypeScript
17                       nan                    NaN         NaN         NaN
18                        C#               HTML/CSS        Java  JavaScript
19     Bash/Shell/PowerShell                     C#    HTML/CSS        Java
20                  Assembly  Bash/Shell/PowerShell           C         C++
21     Bash/Shell/PowerShell                    C++    HTML/CSS  JavaScript
22     Bash/Shell/PowerShell               HTML/CSS  JavaScript      Python
23                       nan                    NaN         NaN         NaN
24                  HTML/CSS             JavaScript         PHP         SQL
25     Bash/Shell/PowerShell                    C++          C#    HTML/CSS
26                       C++             JavaScript      Python        Ruby
27                       nan                    NaN         NaN         NaN
28                       nan                    NaN         NaN         NaN
29                       nan                    NaN         NaN         NaN
...                      ...                    ...         ...         ...
88853                    nan                    NaN         NaN         NaN
88854                    nan                    NaN         NaN         NaN
88855                    nan                    NaN         NaN         NaN
88856                    nan                    NaN         NaN         NaN
88857                    nan                    NaN         NaN         NaN
88858                    nan                    NaN         NaN         NaN
88859                    nan                    NaN         NaN         NaN
88860                    nan                    NaN         NaN         NaN
88861                    nan                    NaN         NaN         NaN
88862                    nan                    NaN         NaN         NaN
88863                    nan                    NaN         NaN         NaN
88864                    nan                    NaN         NaN         NaN
88865                    nan                    NaN         NaN         NaN
88866                    nan                    NaN         NaN         NaN
88867                    nan                    NaN         NaN         NaN
88868                    nan                    NaN         NaN         NaN
88869                    nan                    NaN         NaN         NaN
88870                    nan                    NaN         NaN         NaN
88871                    nan                    NaN         NaN         NaN
88872                      C                    C++    HTML/CSS  JavaScript
88873                    nan                    NaN         NaN         NaN
88874                    nan                    NaN         NaN         NaN
88875                    nan                    NaN         NaN         NaN
88876                    nan                    NaN         NaN         NaN
88877                    nan                    NaN         NaN         NaN
88878               HTML/CSS             JavaScript   Other(s):    Firebase
88879                    nan                    NaN         NaN         NaN
88880                    nan                    NaN         NaN         NaN
88881                    nan                    NaN         NaN         NaN
88882  Bash/Shell/PowerShell               HTML/CSS        Java  JavaScript

              4           5              6           7    \
0          SQLite       MySQL          MacOS     Windows
1             NaN         NaN            NaN         NaN
2             NaN         NaN            NaN         NaN
3             NaN         NaN            NaN         NaN
4          Python         SQL            VBA   Couchbase
5             NaN         NaN            NaN         NaN
6             NaN         NaN            NaN         NaN
7            Java  JavaScript         Python         SQL
8          Python        Ruby           Rust         SQL
9               R         SQL  Elasticsearch     MongoDB
10            NaN         NaN            NaN         NaN
11            NaN         NaN            NaN         NaN
12            SQL  TypeScript      Couchbase    DynamoDB
13            NaN         NaN            NaN         NaN
14            NaN         NaN            NaN         NaN
15            NaN         NaN            NaN         NaN
16        MongoDB  PostgreSQL  Elasticsearch    Firebase
17            NaN         NaN            NaN         NaN
18            SQL  TypeScript       DynamoDB    Firebase
19     JavaScript         PHP         Python           R
20             Go        Java     JavaScript      Kotlin
21         Python        Ruby            SQL  TypeScript
22           Ruby         SQL         Oracle      SQLite
23            NaN         NaN            NaN         NaN
24     TypeScript       MySQL          MySQL       Linux
25     JavaScript         PHP         Python        Ruby
26            SQL  TypeScript       Firebase     MongoDB
27            NaN         NaN            NaN         NaN
28            NaN         NaN            NaN         NaN
29            NaN         NaN            NaN         NaN
...           ...         ...            ...         ...
88853         NaN         NaN            NaN         NaN
88854         NaN         NaN            NaN         NaN
88855         NaN         NaN            NaN         NaN
88856         NaN         NaN            NaN         NaN
88857         NaN         NaN            NaN         NaN
88858         NaN         NaN            NaN         NaN
88859         NaN         NaN            NaN         NaN
88860         NaN         NaN            NaN         NaN
88861         NaN         NaN            NaN         NaN
88862         NaN         NaN            NaN         NaN
88863         NaN         NaN            NaN         NaN
88864         NaN         NaN            NaN         NaN
88865         NaN         NaN            NaN         NaN
88866         NaN         NaN            NaN         NaN
88867         NaN         NaN            NaN         NaN
88868         NaN         NaN            NaN         NaN
88869         NaN         NaN            NaN         NaN
88870         NaN         NaN            NaN         NaN
88871         NaN         NaN            NaN         NaN
88872         PHP      Python            SQL       MySQL
88873         NaN         NaN            NaN         NaN
88874         NaN         NaN            NaN         NaN
88875         NaN         NaN            NaN         NaN
88876         NaN         NaN            NaN         NaN
88877         NaN         NaN            NaN         NaN
88878      SQLite    Firebase          MySQL      SQLite
88879         NaN         NaN            NaN         NaN
88880         NaN         NaN            NaN         NaN
88881         NaN         NaN            NaN         NaN
88882         PHP         SQL          Swift    DynamoDB

                        8                      9    ...  106  107  108  109  \
0                   Android                Arduino  ...  NaN  NaN  NaN  NaN
1                       NaN                    NaN  ...  NaN  NaN  NaN  NaN
2                       NaN                    NaN  ...  NaN  NaN  NaN  NaN
3                       NaN                    NaN  ...  NaN  NaN  NaN  NaN
4                   MongoDB                  MySQL  ...  NaN  NaN  NaN  NaN
5                       NaN                    NaN  ...  NaN  NaN  NaN  NaN
6                       NaN                    NaN  ...  NaN  NaN  NaN  NaN
7                 Cassandra          Elasticsearch  ...  NaN  NaN  NaN  NaN
8                TypeScript            WebAssembly  ...  NaN  NaN  NaN  NaN
9      Microsoft SQL Server                  MySQL  ...  NaN  NaN  NaN  NaN
10                      NaN                    NaN  ...  NaN  NaN  NaN  NaN
11                      NaN                    NaN  ...  NaN  NaN  NaN  NaN
12                 Firebase                  MySQL  ...  NaN  NaN  NaN  NaN
13                      NaN                    NaN  ...  NaN  NaN  NaN  NaN
14                      NaN                    NaN  ...  NaN  NaN  NaN  NaN
15                      NaN                    NaN  ...  NaN  NaN  NaN  NaN
16                  MongoDB             PostgreSQL  ...  NaN  NaN  NaN  NaN
17                      NaN                    NaN  ...  NaN  NaN  NaN  NaN
18     Microsoft SQL Server                  MySQL  ...  NaN  NaN  NaN  NaN
19                      SQL          Elasticsearch  ...  NaN  NaN  NaN  NaN
20                   Python                   Rust  ...  NaN  NaN  NaN  NaN
21            Elasticsearch                  MySQL  ...  NaN  NaN  NaN  NaN
22                Couchbase               DynamoDB  ...  NaN  NaN  NaN  NaN
23                      NaN                    NaN  ...  NaN  NaN  NaN  NaN
24                  Windows                  Linux  ...  NaN  NaN  NaN  NaN
25                      SQL                  Swift  ...  NaN  NaN  NaN  NaN
26     Microsoft SQL Server                  MySQL  ...  NaN  NaN  NaN  NaN
27                      NaN                    NaN  ...  NaN  NaN  NaN  NaN
28                      NaN                    NaN  ...  NaN  NaN  NaN  NaN
29                      NaN                    NaN  ...  NaN  NaN  NaN  NaN
...                     ...                    ...  ...  ...  ...  ...  ...
88853                   NaN                    NaN  ...  NaN  NaN  NaN  NaN
88854                   NaN                    NaN  ...  NaN  NaN  NaN  NaN
88855                   NaN                    NaN  ...  NaN  NaN  NaN  NaN
88856                   NaN                    NaN  ...  NaN  NaN  NaN  NaN
88857                   NaN                    NaN  ...  NaN  NaN  NaN  NaN
88858                   NaN                    NaN  ...  NaN  NaN  NaN  NaN
88859                   NaN                    NaN  ...  NaN  NaN  NaN  NaN
88860                   NaN                    NaN  ...  NaN  NaN  NaN  NaN
88861                   NaN                    NaN  ...  NaN  NaN  NaN  NaN
88862                   NaN                    NaN  ...  NaN  NaN  NaN  NaN
88863                   NaN                    NaN  ...  NaN  NaN  NaN  NaN
88864                   NaN                    NaN  ...  NaN  NaN  NaN  NaN
88865                   NaN                    NaN  ...  NaN  NaN  NaN  NaN
88866                   NaN                    NaN  ...  NaN  NaN  NaN  NaN
88867                   NaN                    NaN  ...  NaN  NaN  NaN  NaN
88868                   NaN                    NaN  ...  NaN  NaN  NaN  NaN
88869                   NaN                    NaN  ...  NaN  NaN  NaN  NaN
88870                   NaN                    NaN  ...  NaN  NaN  NaN  NaN
88871                   NaN                    NaN  ...  NaN  NaN  NaN  NaN
88872                 MySQL                Android  ...  NaN  NaN  NaN  NaN
88873                   NaN                    NaN  ...  NaN  NaN  NaN  NaN
88874                   NaN                    NaN  ...  NaN  NaN  NaN  NaN
88875                   NaN                    NaN  ...  NaN  NaN  NaN  NaN
88876                   NaN                    NaN  ...  NaN  NaN  NaN  NaN
88877                   NaN                    NaN  ...  NaN  NaN  NaN  NaN
88878                 Linux  Google Cloud Platform  ...  NaN  NaN  NaN  NaN
88879                   NaN                    NaN  ...  NaN  NaN  NaN  NaN
88880                   NaN                    NaN  ...  NaN  NaN  NaN  NaN
88881                   NaN                    NaN  ...  NaN  NaN  NaN  NaN
88882               MariaDB   Microsoft SQL Server  ...  NaN  NaN  NaN  NaN

       110  111  112  113  114  115
0      NaN  NaN  NaN  NaN  NaN  NaN
1      NaN  NaN  NaN  NaN  NaN  NaN
2      NaN  NaN  NaN  NaN  NaN  NaN
3      NaN  NaN  NaN  NaN  NaN  NaN
4      NaN  NaN  NaN  NaN  NaN  NaN
5      NaN  NaN  NaN  NaN  NaN  NaN
6      NaN  NaN  NaN  NaN  NaN  NaN
7      NaN  NaN  NaN  NaN  NaN  NaN
8      NaN  NaN  NaN  NaN  NaN  NaN
9      NaN  NaN  NaN  NaN  NaN  NaN
10     NaN  NaN  NaN  NaN  NaN  NaN
11     NaN  NaN  NaN  NaN  NaN  NaN
12     NaN  NaN  NaN  NaN  NaN  NaN
13     NaN  NaN  NaN  NaN  NaN  NaN
14     NaN  NaN  NaN  NaN  NaN  NaN
15     NaN  NaN  NaN  NaN  NaN  NaN
16     NaN  NaN  NaN  NaN  NaN  NaN
17     NaN  NaN  NaN  NaN  NaN  NaN
18     NaN  NaN  NaN  NaN  NaN  NaN
19     NaN  NaN  NaN  NaN  NaN  NaN
20     NaN  NaN  NaN  NaN  NaN  NaN
21     NaN  NaN  NaN  NaN  NaN  NaN
22     NaN  NaN  NaN  NaN  NaN  NaN
23     NaN  NaN  NaN  NaN  NaN  NaN
24     NaN  NaN  NaN  NaN  NaN  NaN
25     NaN  NaN  NaN  NaN  NaN  NaN
26     NaN  NaN  NaN  NaN  NaN  NaN
27     NaN  NaN  NaN  NaN  NaN  NaN
28     NaN  NaN  NaN  NaN  NaN  NaN
29     NaN  NaN  NaN  NaN  NaN  NaN
...    ...  ...  ...  ...  ...  ...
88853  NaN  NaN  NaN  NaN  NaN  NaN
88854  NaN  NaN  NaN  NaN  NaN  NaN
88855  NaN  NaN  NaN  NaN  NaN  NaN
88856  NaN  NaN  NaN  NaN  NaN  NaN
88857  NaN  NaN  NaN  NaN  NaN  NaN
88858  NaN  NaN  NaN  NaN  NaN  NaN
88859  NaN  NaN  NaN  NaN  NaN  NaN
88860  NaN  NaN  NaN  NaN  NaN  NaN
88861  NaN  NaN  NaN  NaN  NaN  NaN
88862  NaN  NaN  NaN  NaN  NaN  NaN
88863  NaN  NaN  NaN  NaN  NaN  NaN
88864  NaN  NaN  NaN  NaN  NaN  NaN
88865  NaN  NaN  NaN  NaN  NaN  NaN
88866  NaN  NaN  NaN  NaN  NaN  NaN
88867  NaN  NaN  NaN  NaN  NaN  NaN
88868  NaN  NaN  NaN  NaN  NaN  NaN
88869  NaN  NaN  NaN  NaN  NaN  NaN
88870  NaN  NaN  NaN  NaN  NaN  NaN
88871  NaN  NaN  NaN  NaN  NaN  NaN
88872  NaN  NaN  NaN  NaN  NaN  NaN
88873  NaN  NaN  NaN  NaN  NaN  NaN
88874  NaN  NaN  NaN  NaN  NaN  NaN
88875  NaN  NaN  NaN  NaN  NaN  NaN
88876  NaN  NaN  NaN  NaN  NaN  NaN
88877  NaN  NaN  NaN  NaN  NaN  NaN
88878  NaN  NaN  NaN  NaN  NaN  NaN
88879  NaN  NaN  NaN  NaN  NaN  NaN
88880  NaN  NaN  NaN  NaN  NaN  NaN
88881  NaN  NaN  NaN  NaN  NaN  NaN
88882  NaN  NaN  NaN  NaN  NaN  NaN

[88883 rows x 116 columns]
CPU times: user 19.6 s, sys: 398 ms, total: 20 s
Wall time: 20 s

In [30]:
total = []
for i in range(0,115) :
    items = data_count.ix[:, i].tolist()
    total.append(items)

unique_elements, counts_elements = np.unique(total, return_counts=True)
print(np.asarray((unique_elements, counts_elements)))
# unique_words = set(total)
# unique_word_count = len(unique_words)

/Users/anmol/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until

[['ASP.NET' 'AWS' 'Android' 'Angular/Angular.js' 'Arduino' 'Assembly'
  'Bash/Shell/PowerShell' 'C' 'C#' 'C++' 'Cassandra' 'Clojure'
  'Couchbase' 'Dart' 'Django' 'Docker' 'Drupal' 'DynamoDB'
  'Elasticsearch' 'Elixir' 'Erlang' 'Express' 'F#' 'Firebase' 'Flask'
  'Go' 'Google Cloud Platform' 'HTML/CSS' 'Heroku' 'IBM Cloud or Watson'
  'Java' 'JavaScript' 'Kotlin' 'Kubernetes' 'Laravel' 'Linux' 'MacOS'
  'MariaDB' 'Microsoft Azure' 'Microsoft SQL Server' 'MongoDB' 'MySQL'
  'Objective-C' 'Oracle' 'Other(s):' 'PHP' 'PostgreSQL' 'Python' 'R'
  'Raspberry Pi' 'React.js' 'Redis' 'Ruby' 'Ruby on Rails' 'Rust' 'SQL'
  'SQLite' 'Scala' 'Slack' 'Spring' 'Swift' 'TypeScript' 'VBA' 'Vue.js'
  'WebAssembly' 'Windows' 'WordPress' 'iOS' 'jQuery' 'nan']
 ['23609' '34178' '27465' '29520' '11655' '2628' '18027' '7970' '16839'
  '8925' '5980' '742' '2933' '1083' '14769' '41605' '2758' '7935' '19765'
  '926' '489' '19988' '594' '14928' '12238' '4322' '17841' '35488'
  '12875' '2865' '19689' '38644' '2912' '17766' '10724' '52198' '22963'
  '16453' '16029' '28336' '31793' '44096' '1957' '12382' '19978' '15553'
  '37379' '18825' '2141' '18659' '36425' '25172' '4906' '8950' '1373'
  '30863' '26750' '1774' '21879' '15575' '2717' '13518' '2591' '22854'
  '644' '41921' '13017' '14543' '36094' '9070562']]

In [32]:
u, count = np.unique(total, return_counts=True)
count_sort_ind = np.argsort(-count)
print(u[count_sort_ind])
print(count[count_sort_ind])

['nan' 'Linux' 'MySQL' 'Windows' 'Docker' 'JavaScript' 'PostgreSQL'
 'React.js' 'jQuery' 'HTML/CSS' 'AWS' 'MongoDB' 'SQL' 'Angular/Angular.js'
 'Microsoft SQL Server' 'Android' 'SQLite' 'Redis' 'ASP.NET' 'MacOS'
 'Vue.js' 'Slack' 'Express' 'Other(s):' 'Elasticsearch' 'Java' 'Python'
 'Raspberry Pi' 'Bash/Shell/PowerShell' 'Google Cloud Platform'
 'Kubernetes' 'C#' 'MariaDB' 'Microsoft Azure' 'Spring' 'PHP' 'Firebase'
 'Django' 'iOS' 'TypeScript' 'WordPress' 'Heroku' 'Oracle' 'Flask'
 'Arduino' 'Laravel' 'Ruby on Rails' 'C++' 'C' 'DynamoDB' 'Cassandra'
 'Ruby' 'Go' 'Couchbase' 'Kotlin' 'IBM Cloud or Watson' 'Drupal' 'Swift'
 'Assembly' 'VBA' 'R' 'Objective-C' 'Scala' 'Rust' 'Dart' 'Elixir'
 'Clojure' 'WebAssembly' 'F#' 'Erlang']
[9070562   52198   44096   41921   41605   38644   37379   36425   36094
   35488   34178   31793   30863   29520   28336   27465   26750   25172
   23609   22963   22854   21879   19988   19978   19765   19689   18825
   18659   18027   17841   17766   16839   16453   16029   15575   15553
   14928   14769   14543   13518   13017   12875   12382   12238   11655
   10724    8950    8925    7970    7935    5980    4906    4322    2933
    2912    2865    2758    2717    2628    2591    2141    1957    1774
    1373    1083     926     742     644     594     489]